server:
  port: 0

spring:
  application:
    name: fastpass-service

eureka:
  client:
    fetch-registry: false
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${random.int}
    hostname: localhost